body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  .login-container {
	width: 100%;
	text-align: center;
	padding: 50px 0;
  }
  
  img {
	width: 120px;
	height: auto;
	margin-bottom: 20px;
  }
  
  #login-form {
	width: 80%;
	margin: auto;
	max-width: 300px;
  }
  
  input {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  button {
	width: 100%;
	padding: 8x;
	background-color: #5271ff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-align: center;
	align-items: center;
  }
  
  #forgot-password {
	margin-top: 10px;
	text-decoration: none;
	font-size: 15px;
	color: #5271ff;
  }
  
  .footer {
	width: 100%;
	background-color: #f4f4f4;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
  }
  
  .company-info p {
	margin: 5;
	font-size: 12px;
  }
  
  .footer-links a {
	text-decoration: none;
	color: #333;
	margin-right: 10px;
  }